<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <tr class="jumbotron" >
    <p class="jumbotron" style="font-size:30px" th:text="${partName}">${partName}</p>
  </tr>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>

        <th>이름</th> <th>이메일</th> <th>학교</th> <th>질문1</th> <th>질문2</th> <th>질문3</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="applicant : ${applicants}">
        <td th:text="${applicant.name}"></td>
        <td th:text="${applicant.email}"></td>
        <td th:text="${applicant.school}"></td>
        <td th:text="${applicant.question1}"></td>
        <td th:text="${applicant.question2}"></td>
        <td th:text="${applicant.question3}"></td>

      </tr>
      </tbody>
    </table>
  </div>
  <a href="/" class="btn btn-primary">돌아가기</a>
</div> <!-- /container -->

</body>
</html>