
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
<!--    <div th:replace="fragments/bodyHeader :: bodyHeader" />-->
    <div class="jumbotron"> <h1>SOPT 리크루팅</h1>
        <p class="lead">동아리에 지원한다면!</p> <p>
            <a class="btn btn-lg btn-secondary" href="/apply">지원하기 </a>
        <p class="lead">동아리 운영진이라면! 현재 지원상황 확인하기!</p>
        <p>
            <a class="btn btn-lg btn-info" href="/check/서버">서버</a>
            <a class="btn btn-lg btn-info" href="/check/웹">웹</a>
        <a class="btn btn-lg btn-info" href="/check/안드로이드">안드로이드</a>
        </p>
        <p>
        <a class="btn btn-lg btn-info" href="/check/ios">ios</a>
        <a class="btn btn-lg btn-info" href="/check/기획">기획</a>
        <a class="btn btn-lg btn-info" href="/check/디자인">디자인</a>
        </p>
    </div>

</div> <!-- /container -->
</body>
</html>
